<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucas.omnia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark">

        <activity
            android:name=".activities.AuthActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.BaseActivity"></activity>

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".activities.SearchResultsActivity">
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
        </activity>

        <activity
            android:name=".activities.ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.CommentsActivity"
            android:label="@string/comments_title"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.RepliesActivity"
            android:label="@string/replies_title"
            android:parentActivityName=".activities.CommentsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.NewImagePostActivity"
            android:label="@string/new_post_title"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.NewPostActivity"
            android:label="@string/new_post_title"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.EditPostActivity"
            android:label="@string/edit_post_title"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.NewCommentActivity"
            android:label="@string/new_comment_title"
            android:parentActivityName=".activities.CommentsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CommentsActivity" />
        </activity>

        <activity
            android:name=".activities.EditCommentActivity"
            android:label="@string/edit_comment_title"
            android:parentActivityName=".activities.CommentsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CommentsActivity" />
        </activity>

        <activity
            android:name=".activities.NewReplyActivity"
            android:label="@string/new_reply_title" />

        <activity
            android:name=".activities.EditReplyActivity"
            android:label="@string/edit_reply_title"
            android:parentActivityName=".activities.RepliesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RepliesActivity" />
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.ProfileSettingsActivity"
            android:label="@string/profile_settings_title"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity android:name=".activities.UserPageActivity" />

        <activity android:name=".activities.BodiesActivity" />

        <activity android:name=".activities.BlocksActivity" />

        <activity android:name=".activities.DeputiesActivity" />

        <activity android:name=".activities.EventsActivity" />

        <activity android:name=".activities.FrontsActivity" />

        <activity android:name=".activities.PartiesActivity" />

        <activity android:name=".activities.PollsActivity" />

        <activity android:name=".activities.PropositionsActivity" />

    </application>
</manifest>